# Ignore Images folder
Images/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large model and data files
*.h5
*.keras
*.pkl

# Upload folders
static/uploads/

# Log files
*.log

# IDE settings
.vscode/
