# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large model and data files
*.h5
*.keras
*.pkl

# Ignore log files
*.log

# Ignore static upload folders
static/uploads/

# Ignore IDE settings
.vscode/

# Ignore system files (optional, for Windows/macOS)
.DS_Store
Thumbs.db
