# Ignore all .pkl files
*.pkl


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large files (if needed)
*.h5
*.keras
*.pkl

# Log files
*.log

# Static uploads (example)
static/uploads/

# IDE settings
.vscode/
venv/
venv/
*.pkl
